.flex-container {
    flex-flow: "column wrap";
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.flex-item {
    background-color: white;
    border-bottom: 2px solid black;
    max-width: 500px;
    min-height: 300px;
}

.flex-doubleheight {
    min-height: 600px;
}